.converter {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 3rem 0;
}

.btn {
    transform: rotate(-90deg);
    width: clamp(2.5rem, 1rem + 3.3vw, 1rem + 1.5vw);
    height: clamp(2.5rem, 1rem + 3.3vw, 1rem + 1.5vw);
}

.btn:hover {
    cursor: pointer;
}

.arrow {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .converter {
        flex-direction: row;
    }

    .controls {
        min-height: 80%;
        display: flex;
        flex-direction: column;
    }
    
    .btn {
        transform: none;
        margin-top: .4rem;
    }

    .arrow {
        display: inline-block;
    }
}